mixin feed(title)
    .feed.section
        .container
            .row
                .col
                    h2 #{title || "Conócenos"}
            .row.row-cols-2.row-cols-lg-4
                each image in feed
                    .col
                        .card
                            img.card-img-top(src=image loading="lazy")
