mixin footer
    footer.bg-dark.mt-auto.py-5
        .container
            .row
                .col
                    p Copyright &copy; 2020. Todos los derechos reservados.
                .col.text-right
                    p
                        small Síguenos en nuestras redes:
                    p
                        a.mx-2.white(href="http://instagram.com/cultoperrocafe" target="_blank")
                            i(data-feather="instagram") Instagram
                        a.mx-2.white(href="https://www.facebook.com/cultoperrocafe" target="_blank")
                            i(data-feather="facebook") Facebook
                        a.mx-2.white(href="http://twitter.com/cultoperrocafe" target="_blank")
                            i(data-feather="twitter") Twitter
