mixin ggj22-ribbon
    .corner-ribbon.top-right.sticky.shadow.open-sans
        a(href="/ggj22" alt="Entrar al sitio para participantes de la Global Game Jam™ 2022")
            p ¿Participando en #GGJ22?
            p Entra aquí
