mixin ggj21-ribbon
    .corner-ribbon.top-right.sticky.blue.shadow.open-sans
        a(href="/ggj21" alt="Entrar al sitio para participantes de la global game jam 2021")
            p ¿Participando en la GGJ?
            p Entra aquí
