mixin map
    .map.section
        .container
            .row
                .col
                    h2#ubicacion Ubicación
            .row
                .col
                    img.container-size(src="/images/map.jpg" alt="Ubicación usando Google Maps" width=930 height=400 loading="lazy")
            .row
                .col.text-center.mt-4
                    a.btn.btn-primary.btn-lg(target="_blank" href="https://www.google.com/maps/dir//Culto+al+Perro+Café,+Blvd.+Juan+Navarrete+125-Local+15,+Valle+Verde,+83200+Hermosillo,+Son./@29.0868238,-110.9765992,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x86ce852cc8c31ec7:0x92b9efe14263c386!2m2!1d-110.9744105!2d29.0868191!3e0" rel="noopener noreferrer") ¿Cómo llegar?
