mixin products
    .products.section
        .container
            .row
                .col
                    h2 Nuestros productos
            .row.row-cols-2.row-cols-lg-4
              each product in starred
                  .col
                      .card
                          img.card-img-top(src=product.src srcset=product.srcset alt=product.alt loading="lazy" width=240)
                          .card-body
                              .card-title
                                  span= product.title
            .row
                .col.text-center
                    a.btn.btn-primary.btn-lg(href="https://instagram.com/cultoperrocafe") Conoce más
