footer
  color white
  font-size 0.8em
  box-shadow 0 -0.5rem 1rem rgba(0, 0, 0, .15)

  h5
    color white
    font-size 1.25em

  ul
    padding-left 0

    li
      list-style none

  .social, .logo
    text-align right

  @media (max-width: breakpoint)
    .logo
      text-align center

    .social
      text-align left
