.menu
  margin 0 auto
  max-width 800px

  ul
    padding 0

    li
      list-style none
      display flex
      justify-content space-between
      line-height 1.75

  p
    color gray
    font-size 0.85em
    font-style italic

  [class^="col"]
    position relative
    padding-bottom 4em

    img
      position absolute
      width 100px
      top 6em
      left 40%
      opacity 0.1

  .card
    background-color white
