extends layouts/layout

include partials/products
include partials/feed

block content
    .container.section
        .row
            .col-12.col-md-7
                h4 Bienvenidx
                h2.title ¡Ya estás en línea!
                p Gracias por navegar con nosotros. Nuestro servicio de wifi público es gratuito, ¡ayúdanos a que lo siga siendo!
                p Conoce nuestras promociones del mes:
            .col.text-right.d-none.d-md-block
                img(src="/images/icons/drip.svg" alt="Gráfico de café" loading="lazy")
        .row.my-5
            .col.text-center
                img.img-fluid(src="/images/promotions/2022-05.png" alt="Gráfico de café" loading="lazy")
                p.my-2.font-weight-light Promociones no acumulables. Aplican restricciones. Promociones sujetas a disponibilidad.
        .row
            .col-12
                p
                    a.btn.btn-primary.mx-2.my-2(href="http://instagram.com/cultoperrocafe" target="_blank" rel="noopener noreferrer")
                        img(src="/images/icons/instagram.svg" alt="Cuenta de instagram" loading="lazy")
                        span  Instagram
                    a.btn.btn-primary.mx-2.my-2(href="https://www.facebook.com/cultoperrocafe" target="_blank" rel="noopener noreferrer")
                        img(src="/images/icons/facebook.svg" alt="Cuenta de facebook" loading="lazy")
                        span  Facebook
                    a.btn.btn-primary.mx-2.my-2(href="http://twitter.com/cultoperrocafe" target="_blank" rel="noopener noreferrer")
                        img(src="/images/icons/twitter.svg" alt="Cuenta de twitter" loading="lazy")
                        span  Twitter
    +products
    +feed("Swag Perrón")
