extends layout

mixin displayPrice(price)
    if price > 0
        span $ #{price}
    else
        span -

block content
    #hero.small.coffee.text-center.pt-5.shadow
        img.my-5(src="/images/logo-candles.svg" alt="logo" width="360")

    .container.section
        .row
            .col
                h2.title ¡Bienvenido!
        .row
            .col
                p.big Éste es nuestro servicio de WI-FI público.
                p.big ¡Síguenos en nuestras redes sociales!
                p.big
                    a.btn.btn-lg.btn-secondary.mx-2.my-2(href="http://instagram.com/cultoperrocafe" target="_blank")
                        i.mr-2(data-feather="instagram") Instagram
                        | Instagram
                    a.btn.btn-lg.btn-secondary.mx-2.my-2(href="https://www.facebook.com/cultoperrocafe" target="_blank")
                        i.mr-2(data-feather="facebook") Facebook
                        | Facebook
                    a.btn.btn-lg.btn-secondary.mx-2.my-2(href="http://twitter.com/cultoperrocafe" target="_blank")
                        i.mr-2(data-feather="twitter") Twitter
                        | Twitter
