extends layout

block content
    #hero.small.working.text-center.pt-5.shadow
        img.my-5(src="/images/logo-candles.svg" alt="logo" width="360")

    .container.section.open-sans.big
        .row
            .col
                h3 Global Game Jam© 2021
                h2.title Sede Hermosillo
        .row
            .col
                .callout.orange
                    p
                        b La misión del evento:
                        |  Motivar a las personas a aprender, experimentar, y crear en conjunto mediante juegos.
        .row.my-4
            .col
                h3 En Resumen:
                p
                    ul
                        li
                            b Fechas:&nbsp;
                            | 27 al 31 de Enero, 2021
                        li
                            b ¿Quién puede participar?:&nbsp;
                            | Todos
                        li
                            b Restricción de edad:&nbsp;
                            | 18+
                        li
                            b Registro:&nbsp;
                            a(href="https://globalgamejam.org/2021/jam-sites/hermosillo") https://globalgamejam.org/2021/jam-sites/hermosillo
        .row.my-4
            .col
                img.img-fluid(src="/images/ggj-control.jpg" alt="Un control de videojuegos")

        .row.my-4
            .col
                h3 ¿Qué es la Global Game Jam?
                p La Global Game Jam © (GGJ) es el evento más grande a nivel mundial de creación de videojuegos que sucede, típicamente, en locaciones físicas alrededor del mundo.
                p GGJ 2021 será un fin de semana de arte, diseño iterativo y tecnología, cuyo objetivo es generar un espacio abierto de innovación, colaboración y experimentación lúdica para vivir y crear nuevas experiencias interactivas.
                p.bold No es necesario tener experiencia previa.
                p Ven y participa. Puedes crear juegos de mesa, videojuegos, juegos de rol, novelas interactivas, audiojuegos, juegos de patio, juegos de fiesta... ¡Cualquier tipo de juego!
                p.bold Lo más importante del evento es convivir y conocer gente que le apasiona lo mismo que a tí.

        .row.my-4
            .col.text-center
                .embed-responsive.embed-responsive-16by9.max-800.mha
                    iframe.embed-responsive-item(src="https://www.youtube.com/embed/VtBxp1LNs7o" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                p
                    small Así se vivió el año pasado en otra sede.

        .row.my-4
            .col
                h3 ¿Qué necesito para participar?
                p Regístrate en:&nbsp;
                    a(href="https://globalgamejam.org/2021/jam-sites/hermosillo") https://globalgamejam.org/2021/jam-sites/hermosillo
                p Durante el evento se crearán los equipos. Puedes llegar con un equipo formado pero te recomendamos que te des la oportunidad de conocer y trabajar con otras personas. Deberás tener todas las cosas y herramientas que creas que necesitarás para hacer un juego, tales como: cuaderno, lápiz, pluma, colores, tokens, fichas, cartas, computadora, periféricos, software, instrumentos, etc.
                p El evento es totalmente virtual, utilizaremos Discord para conectar entre participantes. Tendremos a tu disposición una cafetería (
                    a(href="https://cultoperrocafe.com") Culto al Perro Café
                    | ) con acceso a electricidad, internet de alta velocidad, mesas de trabajo y baños públicos para tu comodidad. No será requisito asistir presencialmente. El uso de las instalaciones no tiene ningún costo para los inscritos en el evento.

        .row.my-4
            .col
                img.img-fluid(src="/images/ggj-work.jpg" alt="Personas diseñando un videojuego")

        .row.my-4.pt-4
            .col
                h3 Programa:
            .col.text-right
                input#toggle(type="checkbox" aria-label="Mostrar eventos del local")
                label(for="toggle") &nbsp;Mostrar eventos del local
        .row
            .col-12
                table.table
                    thead
                        th(colspan="2") Miércoles 27
                    tbody
                        tr
                            td 17:00
                            td Inicio del jam
                        tr
                            td 17:15
                            td Revelación del tema secreto
                        tr
                            td 17:30
                            td Dinámica para creación de equipos (opcional)
                        tr.on-site.hide
                            td 20:00
                            td Cierre del local
                    thead.on-site.hide
                        th(colspan="2") Jueves 28
                    tbody.on-site.hide
                        tr
                            td 10:00
                            td Apertura del local
                        tr
                            td 20:00
                            td Cierre del local
                    thead.on-site.hide
                        th(colspan="2") Viernes 20
                    tbody.on-site.hide
                        tr
                            td 10:00
                            td Apertura del local
                        tr
                            td 20:00
                            td Cierre del local
                    thead.on-site.hide
                        th(colspan="2") Sábado 30
                    tbody.on-site.hide
                        tr
                            td 10:00
                            td Apertura del local
                        tr
                            td 20:00
                            td Cierre del local
                    thead
                        th(colspan="2") Domingo 31
                    tbody
                        tr.on-site.hide
                            td 14:00
                            td Apertura del local
                        tr
                            td 16:00
                            td Se cierran proyectos y se suben a la página oficial de la Global Game Jam
                        tr
                            td 16:30
                            td Presentación de proyectos
                        tr
                            td 17:00
                            td Clausura del evento
                script.
                  window.onload = () => {
                    const $elements = document.querySelectorAll('.on-site');
                    const $toggle = document.getElementById('toggle');

                    $toggle.onchange = (event) => {
                      if (event.target.checked) {
                        $elements.forEach($element => $element.classList.remove("hide"));
                      } else {
                        $elements.forEach($element => $element.classList.add("hide"));
                      }
                    }
                  };

                p.bold ¡Te invitamos a ser parte de este gran evento!

                p Regístrate en:&nbsp;
                    a(href="https://globalgamejam.org/2021/jam-sites/hermosillo") https://globalgamejam.org/2021/jam-sites/hermosillo

        .row.my-4
            .col
                img.img-fluid(src="/images/ggj-vr.jpg" alt="Un equipo de realidad virtual")
