extends layout

include partials/subscribe
include partials/ggj21-ribbon

block content
    #hero.winnie.text-center.pt-5
        img.main-logo.my-5(src="/images/logo.svg" alt="logo")
        p.mt-5.white.big Cafetería Indie Experimental
        p.white.big Hermosillo, MX
        a.shadow-on-hover(href="#subscribe")
            i.white.icon-big.mt-5(data-feather="arrow-down-circle")

    +ggj21-ribbon
    +subscribe

    #map.container.section
        .row.mb-3
            .col
                h2.title ¿Dónde estamos?
                p.big.mb-1 Blvd. Navarrete 125, local 15. Colonia Valle Verde. 83200.
                p.big Hermosillo, Sonora.
        .row
            .col
                .embed-responsive.embed-responsive-21by9
                    iframe(src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJxx7DyCyFzoYRhsNjQuHvuZI&key=AIzaSyB52hL2XamGhGXGSTr3Dz3TH2FJOmGKUlY" allowfullscreen)
