extends layouts/layout

include partials/virtual-hr
include partials/products
include partials/feed
include partials/map
include partials/reviews
include partials/ggj21-ribbon

block content
    .section
        .container
            .row.image-left-panel
                .col-12.col-md-6
                    img.container-size(src="/images/pictures/winnie-330.jpg" srcset="/images/pictures/winnie-330.jpg 480w, /images/pictures/winnie-450.jpg 960w" alt="Un perro sirviendo café" loading="lazy")
                .col-12.col-md-6.content
                    h1 Culto al Perro Café
                    p Cafetería Indie Experimental.
                    p Sirviendo el café más perrón de Hermosillo, Sonora. La cafetería favorita de la gente que trabaja. Ven con tu laptop, libro favorito y/o mascota.
    +ggj22-ribbon
    +virtual-hr
    +products
    +feed
    +map
    +reviews
