doctype html
html(lang="es")
    head
        title= title
        link(href="/images/favicon.png" rel="shortcut icon")
        link(rel="stylesheet" href="//fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap")
        link(rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content

        script(src="//cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")
        script.
            feather.replace()
