extends layouts/layout

block content
    .container.section
        .row
            .col-12.col-md-7
                h2.title Nuestro Menú
                p Nuestros productos no se limitan a los aquí listados. Siempre estamos innovando en el laboratorio: nuestra cocina.
                p Pregunta por nuestro menú experimental y las bebidas de temporada.
            .col.text-right
                img(src="/images/icons/cup.svg" loading="lazy")
        .row.mt-10
            .col-12
                img(src="/images/menu.svg" loading="lazy")
