extends layouts/layout

include partials/virtual-hr
include partials/products
include partials/feed
include partials/map
include partials/reviews

block content
    .section
        .container
            .row.image-left-panel
                .col-12.col-md-6
                    img.container-size(src="/images/pictures/winnie.png")
                .col-12.col-md-6.content
                    h1 Culto al Perro Café
                    p Cafetería indie experimental ubicada en Hermosillo, Sonora. Una cafetería que entiende a la gente que trabaja.

    +virtual-hr
    +products
    +feed
    +map
    +reviews
