black = #232222
dark-gray = #555
gray = #888
orange = #B55A37
yellow = #CCB54A
cream = #F4DBB2
almost-white = #fafafa
breakpoint = 767px

html
  height 100%
  scroll-behavior smooth

body
  color dark-gray
  background-color almost-white

h1, h2, h3, h4, h5, h6, b
  color black

@import "utils.styl"

@import "components/buttons.styl"
@import "components/section.styl"
@import "components/virtual-hr.styl"
@import "components/lists.styl"

@import "sections/reviews.styl"
@import "sections/products.styl"
@import "sections/feed.styl"
@import "sections/image-left-panel.styl"
@import "sections/footer.styl"
@import "sections/menu.styl"
