html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  color: #555;
  background-color: #fafafa;
}
h1,
h2,
h3,
h4,
h5,
h6,
b {
  color: #232222;
}
.container-size {
  height: 100%;
  width: 100%;
}
.bg-custom {
  background-color: #232222;
}
.mt-10 {
  margin-top: 6rem !important;
}
.hide {
  display: none !important;
}
.corner-ribbon {
  z-index: 999;
  width: 400px;
  background: #b55a37;
  color: #fff;
  position: absolute;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  top: 100px;
  right: -130px;
  left: auto;
  transform: rotate(45deg) scale(0.7);
  -webkit-transform: rotate(45deg) scale(0.7);
}
@media (min-width: 767px) {
  .corner-ribbon {
    top: 130px;
    right: -100px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
.corner-ribbon .sticky {
  position: fixed;
}
.corner-ribbon .shadow {
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.corner-ribbon p {
  margin-bottom: 0;
}
.corner-ribbon a {
  color: inherit;
}
.corner-ribbon a:hover {
  text-decoration: none;
}
.btn-primary {
  background: #b45a38 !important;
  border: #b45a38 !important;
}
.section {
  padding-bottom: 5em;
  padding-top: 5em;
}
.section h2 {
  padding-bottom: 1em;
}
.section h2:after {
  border-bottom: 3px solid #b55a37;
  content: ' ';
  display: block;
  margin-top: 0.25em;
  width: 2em;
}
.section .big-number {
  background-color: #232222;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  text-align: center;
  width: 2em;
}
.section .big-number + h3 {
  display: inline-block;
  line-height: 2em;
  margin-bottom: 0;
  margin-left: 0.75em;
  vertical-align: middle;
}
.virtual-hr {
  position: relative;
  padding-bottom: 2em;
  padding-top: 2em;
}
.virtual-hr:before,
.virtual-hr:after {
  content: ' ';
  border-bottom: 1px solid #232222;
  display: block;
  position: absolute;
  width: 40%;
  top: 50%;
}
.virtual-hr:before {
  left: 15px;
}
.virtual-hr:after {
  right: 15px;
}
@media (max-width: 767px) {
  .virtual-hr:before,
  .virtual-hr:after {
    width: 30%;
  }
}
ul.list {
  padding-left: 1.2em;
}
ul.list li {
  color: inherit;
  list-style: square;
}
ul.list li a {
  color: inherit;
}
.reviews .card {
  background-color: #fff;
}
.products .card {
  background-color: transparent;
  border: 0;
}
.products .card-body {
  padding-left: 0;
}
.products .card-img-top {
  border-radius: 0;
}
.feed .card {
  border: 0;
  margin-bottom: 1em;
}
.feed .card-body {
  padding-left: 0;
}
.feed .card-img-top {
  border-radius: 0;
}
.image-left-panel .content {
  align-self: center;
  display: flex;
  flex-direction: column;
}
footer {
  color: #fff;
  font-size: 0.8em;
  box-shadow: 0 -0.5rem 1rem rgba(0,0,0,0.15);
}
footer h5 {
  font-size: 1.25em;
}
footer ul {
  padding-left: 0;
}
footer ul li {
  list-style: none;
}
footer .social,
footer .logo {
  text-align: right;
}
@media (max-width: 767px) {
  footer .logo {
    text-align: center;
  }
  footer .social {
    text-align: left;
  }
}
.menu {
  margin: 0 auto;
  max-width: 800px;
}
.menu ul {
  padding: 0;
}
.menu ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  line-height: 1.75;
}
.menu p {
  color: #888;
  font-size: 0.85em;
  font-style: italic;
}
.menu [class^="col"] {
  position: relative;
  padding-bottom: 4em;
}
.menu [class^="col"] img {
  position: absolute;
  width: 100px;
  top: 6em;
  left: 40%;
  opacity: 0.1;
}
.menu .card {
  background-color: #fff;
}
