black = #232222
orange = #B55A37
yellow = #CCB54A
cream = #F4DBB2
almost-white = #fafafa
breakpoint = 767px

html
  height 100%
  scroll-behavior smooth

body
  color black
  background-color almost-white

@import "utils.styl"

@import "components/buttons.styl"
@import "components/section.styl"
@import "components/virtual-hr.styl"

@import "sections/reviews.styl"
@import "sections/products.styl"
@import "sections/feed.styl"
@import "sections/image-left-panel.styl"
@import "sections/footer.styl"
