html {
  height: 100%;
  background-color: #333;
  scroll-behavior: smooth;
}
html,
body {
  font: 14px "Roboto Slab", serif;
}
.open-sans {
  font: 14px "Open Sans", serif;
}
a {
  text-decoration: none;
}
a:active,
a:hover {
  color: #b45a38;
}
p {
  margin-bottom: 1.5em;
}
.bold {
  font-weight: bold;
}
#hero {
  width: 100%;
  height: 90vh;
  position: relative;
  background: #666 center center;
  background-size: cover;
}
#hero.winnie {
  background-image: url("/images/winnie.jpg");
}
#hero.coffee {
  background-image: url("/images/coffee.jpg");
}
#hero.codi {
  background-image: url("/images/codi.jpg");
}
#hero.covid {
  background-image: url("/images/covid.jpg");
}
#hero.working {
  background-image: url("/images/working.jpg");
}
#hero.small {
  height: 45vh;
}
#hero .big {
  font-size: 1.5em;
}
#hero .icon-big {
  height: 3em;
  width: 3em;
}
#hero .main-logo {
  max-width: 480px;
  width: 100%;
}
.shadow-on-hover:hover svg {
  box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.3);
  border-radius: 100%;
}
.white {
  color: #fff;
}
.bg-dark {
  background: #222 !important;
}
.btn-primary {
  background: #b45a38 !important;
  border: #b45a38 !important;
}
.section {
  padding-bottom: 6em;
  padding-top: 6em;
}
.section h2 {
  font-size: 3em;
  position: relative;
}
.section h2.title {
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}
.section h2.title:after {
  content: ' ';
  background-color: #666;
  height: 2px;
  width: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.big {
  font-size: 1.25em;
}
footer {
  color: #fff;
  font-size: 1.1em;
  box-shadow: 0 -0.5rem 1rem rgba(0,0,0,0.15);
}
.mha {
  margin-left: auto;
  margin-right: auto;
}
.max-800 {
  max-width: 800px;
}
.max-600 {
  max-width: 600px;
}
.max-180 {
  max-width: 180px;
}
.hide {
  display: none;
}
.callout {
  border: 1px dotted transparent;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
}
.callout.orange {
  background: rgba(180,90,56,0.2);
  border-color: #b45a38;
}
.callout p {
  margin-bottom: 0;
}
.corner-ribbon {
  z-index: 1;
  width: 400px;
  background: #ffbc47;
  position: absolute;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  top: 105px;
  right: -112px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.corner-ribbon.sticky {
  position: fixed;
}
.corner-ribbon.shadow {
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
.corner-ribbon p {
  margin-bottom: 0;
}
.corner-ribbon a {
  color: inherit;
}
.corner-ribbon a:hover {
  text-decoration: none;
}
