.section
  padding-bottom 5em
  padding-top 5em

  h2
    padding-bottom 1em

    &:after
      border-bottom 3px solid orange
      content ' '
      display block
      margin-top 0.25em
      width 2em

  .big-number
    background-color black
    border-radius: 2px;
    color white
    display inline-block
    height 2em
    line-height: 2em;
    text-align: center;
    width 2em

    & + h3
      display inline-block
      line-height 2em
      margin-bottom 0
      margin-left 0.75em
      vertical-align middle

