.virtual-hr
  position relative
  padding-bottom 2em
  padding-top 2em

  &:before, &:after
    content ' '
    border-bottom 1px solid black
    display block
    position absolute
    width 40%
    top 50%

  &:before
    left 15px

  &:after
    right 15px

  @media (max-width: breakpoint)
    &:before, &:after
      width 30%
